
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #07130d;
  color: white;
}

.container {
  padding: 60px;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #22c55e;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
}
